body {
    font: 1.2em Helvetica, Arial, sans-serif;
    margin: 20px;
    padding: 0;
}
img {
    width: 100px;
    height: 100px;
}
div {
    border: 2px solid rgb(96, 139, 168);
    background-color: rgba(96, 139, 168, .2);
}
.box {
    border: 0.5px dotted rgb(96, 139, 168);
    display: grid;
    width: 500px;
    align-items: start;
    justify-content: space-between;
  }
  .row {
    display: flex;
    border-radius: 0px;
    border: 2px solid rgb(43, 28, 201);
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    border-radius: 5px;
    border: 2px solid rgb(2, 79, 43);
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }